body {
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);

  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(50,50,50);
  text-decoration: none;
}

hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #fff}

h1, h2 {
  text-align: center;
}

h2 {
  font-weight: normal;
}

p {
  text-align: justify;
  font-size: 14px;
}

header {
  background: url(/images/bg640.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}

@media screen and (min-width: 640px) {
  header {
    background: url(/images/bg1280.png) no-repeat center center;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  header {
    background: url(/images/bg.png) no-repeat center center;
  }

  p {
    font-size: 18px;
  }
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #fff;
}
